.main-favorite-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.move-to-main {
    background-color: aqua;
    display: inline-block;
}

.favorite-weather-section {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-favorite {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 260px;
    border: 1px solid black;
    margin: 30px;
    border-radius: 10px;
}

.weather-favorite:hover {
    background-color: aqua;
    cursor: pointer;
}