.main-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header-view {
    text-align: center;
}

.search-section {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2em;
}

.main-weather-section {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0.5px solid #1976d2;
    border-radius: 20px;
}

.current-weather-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.current-weather-section>h1,
h2 {
    margin-bottom: 10px;
    margin-top: 15px;
}

.five-days-weather-section {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-flow: wrap;
    justify-content: center;
}

.weather-one-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 195px;
    border: 1px solid #1976d2;
    margin: 20px;
    border-radius: 10px;
}

.weather-header {
    margin-left: 10em;
    text-align: center;
}

.weather-header-favorite-section {
    margin-right: 10em;
}

.weather-header>h2 {
    margin-top: 0;
}

.weather-header>h1 {
    margin-bottom: 0;
}

.fav-icon {
    margin-left: 5px;
}

.weather-2-h {
    margin-bottom: 0;
}

.weather-3-h {
    margin-top: 0;
}

#error-sign {
    position: absolute;
    top: -23px;
    left: 35%;
    color: red;
}

@media screen and (max-width: 900px) {
    .weather-header {
        margin-left: 6em;
    }

    .weather-header-favorite-section {
        margin-right: 6em;
    }
}

@media screen and (max-width: 640px) {
    .current-weather-section {
        flex-direction: column;

    }

    .weather-header {
        margin-left: 0;
    }

    .weather-header-favorite-section {
        margin-right: 0;
    }
}