@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --body-font: "Poppins", sans-serif;
    --normal-font-size: 1rem;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
a,
p {
    font-family: var(--body-font) !important;
    font-size: var(--normal-font-size);
}